
<p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Password"></p-button>
<p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    
        <form [formGroup]="form">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="usuario">
              </mat-form-field>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
              </mat-form-field>
              <br>        
        </form>



    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="authorization()" label="Yes" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
    </ng-template>
</p-dialog>
