<div [formGroup]="pagoService.form" *ngIf="load">
    <p-toolbar>
        <div class="grid p-fluid">    
            <div class="col-12 md:col-3">
                <label>Proveedor<input type="text" pInputText [readonly]="true" [value]="compra.proveedor.nombre" /></label>                                            
            </div>   
            <div class="col-12 md:col-3">
                <label>Documento<input type="text" pInputText [readonly]="true" [value]="compra.documento"/></label>                    
            </div>   
            <div class="col-12 md:col-3">
                <label>Total<input type="text" pInputText [readonly]="true" [value]="total"/></label>                    
            </div>     
        </div>
    </p-toolbar>
    <p-panel header="PAGO" >  
        <div formArrayName="detallePago">
            <div class="p-fluid grid">
                <div class="field col-12 md:col-3" *ngFor="let item of pagoService.getArrayDetalle.controls;index as i">
                    <div [formGroupName]="i" >
                        <label>{{item.get('tipoTransaccion.nombre')?.value}}</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
                            <p-inputNumber inputId="locale-us-{{i}}" mode="decimal" locale="en-US" [minFractionDigits]="2"
                             formControlName="monto" (onFocus)="selector(i)" (onInput)="validatorsFormsCustom.patchPrimeNgInputValue($event, 'monto', item)"></p-inputNumber>
                        </div>
                    </div> 
                </div> 
            </div>
            <div class="example-container"  *ngFor="let item of pagoService.getArrayDetalle.controls;index as i">
                <ng-container [formGroupName]="i">
                    <div class="p-fluid grid" *ngIf="select==i && select!=0">
                        <div  class="field col-12 md:col-6">
                            <label>Documento {{item.get('tipoTransaccion.nombre')?.value}}</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
                                <input id="documento-{{i}}" type="text" formControlName="documento" pInputText/>                    
                            </div>
                            <small *ngIf="validatorsFormsCustom.isValidFieldInArray(pagoService.getArrayDetalle, i, 'documento')" class="p-error block">El documento es necesario</small>
                        </div>
                        <div class="field col-12 md:col-6">
                                <label>Banco</label>
                                <p-dropdown  [options]="cuenta" formControlName="cuentaBancaria" placeholder="Seleccione un banco" optionLabel="nombre" [showClear]="true">
                                    <ng-template let-item pTemplate="item">
                                        <span>{{item.nombre}} {{item.numero}}</span>
                                    </ng-template>
                                    <ng-template let-item pTemplate="selectedItem">
                                        <span>{{item.nombre}} {{item.numero}}</span>
                                    </ng-template>
                                </p-dropdown>
                                <small *ngIf="validatorsFormsCustom.isValidFieldInArray(pagoService.getArrayDetalle, i, 'cuentaBancaria')" class="p-error block">Debe seleccionar una cuenta</small>
                        </div>                      
                    </div>
                </ng-container>
                    
                
            </div>
        </div>
            <div class="p-fluid grid"  *ngIf="select==0">
                <div class="field col-12 md:col-6">
                    <label>Cuenta Efectivo</label>
                    <p-dropdown  [options]="efectivo" placeholder="Seleccione una cuenta" formControlName="efectivo" optionLabel="nombre" optionValue="id" [showClear]="true">
                        <ng-template let-item pTemplate="item">
                            <span>{{item.nombre}}  Q. {{item.detalleEfectivo[0].balance}}</span>
                        </ng-template>
                        <ng-template let-item pTemplate="selectedItem">
                            <span>{{item.nombre}}  Q. {{item.detalleEfectivo[0].balance}}</span>
                        </ng-template>
                    </p-dropdown>
                    <small *ngIf="pagoService.form.get('efectivo')?.invalid" class="p-error block">Debe seleccionar una cuenta en efectivo</small>
                </div>
            </div>
            <div class="p-fluid grid">
                <div  class="field col-12 md:col-8">
                    <label>Comentario</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
                        <input id="comentario" type="text" formControlName="comentario" pInputText/>                    
                    </div>
                    <br>
                </div>
            </div>
        
    </p-panel>
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="close()"></button>
    <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-text" [disabled]="pagoService.form.invalid || pagoService.getArrayDetalle.errors" (click)="save()"></button>
    <small *ngIf="pagoService.getArrayDetalle.errors" class="p-error block">El monto deber ser igual al Saldo</small>
</div>

