<p-card>
    <div [formGroup]="efectivoService.form">
        <div formArrayName="detalleEfectivo">
            <div *ngFor="let _ of efectivoService.Detalle.controls; index as i">
                <ng-container [formGroupName]="i">
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <span class="p-float-label">
                              <p-dropdown [autoDisplayFirst]="false" [options]="tipo" formControlName="type" optionValue="type" optionLabel="nombre" [showClear]="true"></p-dropdown>
                              <label>Tipo transaccion</label>
                          </span>           
                        </div>     
                    </div>
                    <br/>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <span class="p-float-label">
                                <p-inputNumber  formControlName="documento" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
                                </p-inputNumber>                  
                                <label>Documento</label>
                          </span>           
                        </div>     
                    </div>
                    <br/>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <span class="p-float-label">
                                <input id="float-input" type="text" pInputText formControlName="descripcion" >                   
                                <label>Descripcion</label>
                          </span>           
                        </div>     
                    </div>
                    <br/>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <span class="p-float-label">
                                <p-inputNumber inputId="currency-us" mode="currency" currency="GTQ" locale="en-US" formControlName="monto">
                                </p-inputNumber>
                                <label>Monto</label>
                          </span>           
                        </div>     
                    </div>

                </ng-container>
            </div>
        </div>    
        
    </div>
    <button pButton label="Guardar" (click)="transaccion()" icon="pi pi-check" [disabled]="efectivoService.form.invalid"></button>

</p-card>


<pre>
    Esado del forulario: {{efectivoService.form.valid}}
    <br>
    Status {{efectivoService.form.status}}
</pre>

<pre>
    {{efectivoService.form.value | json }}
</pre>