<p-toast></p-toast>
<h2>EGRESOS CAJA</h2>
<p-toolbar>
    <div class="p-toolbar-group-left" [formGroup]="egresosService.form">
        <p-button label="Buscar" icon="pi pi-plus" class="mr-2" (onClick)="getIngresos()" [disabled]="egresosService.form.invalid"></p-button>
        

        <p-calendar selectionMode="range" [readonlyInput]="true" [showIcon]="true" class="mr-2" formControlName="dates"></p-calendar>
        <p-dropdown *appRole="['ADMIN']" [options]="cajasList" optionValue="id" optionLabel="lugar" placeholder="Seleccione una caja" [showClear]="true" formControlName="caja">
            <ng-template let-item pTemplate="item">
                <span [class]="'product-badge status-' + item.estado">{{item.lugar}}</span>
                <span [class]="'product-badge status-empleado'">{{item.empleado.nombre}} {{item.empleado.apellido}}</span>
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
                <span [class]="'product-badge status-' + item.estado">{{item.lugar}}</span>
                <span [class]="'product-badge status-empleado'">{{item.empleado.nombre}} {{item.empleado.apellido}}</span>
            </ng-template>
        </p-dropdown>  
    </div>
    
    <div class="p-toolbar-group-right" [formGroup]="egresosService.form">  
        <button *appRole="['CAJERO']" pButton pRipple label="Generar Egreso" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrir()"></button>              
    </div>
</p-toolbar>
<p-table [value]="egresos" responsiveLayout="scroll" [paginator]="true" [rows]="10" [responsive]="true"
    selectionMode="single">
    <ng-template pTemplate="header">
        <tr>
            <th>Id </th>
            <th>Fecha </th>
            <th>Descripcion </th>
            <th>Monto </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ingreso>
        <tr>
            <td>{{ingreso.id}}</td>
            <td>{{ingreso.fecha | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
            <td>{{ingreso.descripcion}}</td>
            <td>{{ingreso.monto}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">Seleccione una fecha.</td>
        </tr>
    </ng-template>
</p-table>



<div [formGroup]="egresosService.formEgreso">
    <p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Generar gasto" [modal]="true" [closable]="false" styleClass="p-fluid">
    
        <ng-template pTemplate="content">
            <div class="field">
                <label>Descripcion</label>
                <textarea  pInputTextarea required rows="3" cols="20" formControlName="descripcion"></textarea>
                <small *ngIf="campoValido('descripcion')" class="p-error block">Debe ingresar una descripcion.</small>
            </div>
    
            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Monto</label>
                    <p-inputNumber mode="currency" currency="GTQ" locale="es-GT" formControlName="monto"></p-inputNumber>
                    <small *ngIf="campoValido('monto')" class="p-error block">Debe ingresar un monto.</small>
                </div>
            </div>
        </ng-template>
        
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveIngreso()" [disabled]="egresosService.formEgreso.invalid"></button>
        </ng-template>
    
    </p-dialog>
    </div>