<p-toast></p-toast>
<h2>GASTOS CAJA</h2>
<div *ngIf="load">
    <p-toolbar>
            <ng-template pTemplate="right">
                <button *appRole="['CAJERO']" pButton pRipple label="Generar Gasto" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrir()"></button>
                <p-button *appRole="['CAJERO']" label="Fondos Caja Chica" icon="pi pi-plus" class="mr-2" (onClick)="verDetalleFondosCajaChica()"></p-button>
            </ng-template>
    
            <ng-template pTemplate="left" [formGroup]="gastoService.form">            
                <p-button label="Buscar" icon="pi pi-plus" class="mr-2" (onClick)="allGastos()" [disabled]="gastoService.form.invalid"></p-button>
                <p-calendar formControlName="dates" selectionMode="range" [readonlyInput]="true" [showIcon]="true" class="mr-2"></p-calendar>
                <p-dropdown  class="mr-2" *appRole="['ADMIN']" [options]="cajasList" formControlName="caja" optionValue="id" optionLabel="nombre" placeholder="Seleccione una caja" [showClear]="true">
                    <ng-template let-item pTemplate="item">
                        <span [class]="'product-badge status-' + item.estado">{{item.nombre}}</span>
                        <span [class]="'product-badge status-empleado'">{{item.empleado.nombre}} {{item.empleado.apellido}}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                        <span [class]="'product-badge status-' + item.estado">{{item.nombre}}</span>
                        <span [class]="'product-badge status-empleado'">{{item.empleado.nombre}} {{item.empleado.apellido}}</span>
                    </ng-template>
                </p-dropdown>
                <div class="mr-2" *appRole="['ADMIN']">
                    <p-checkbox class="mr-2" [(ngModel)]="checked" [binary]="true" inputId="binary" [ngModelOptions]="{standalone: true}" ></p-checkbox>
                    <label for="binary" class="mr-2">Gastos eliminados</label>
                </div>
            </ng-template>
    </p-toolbar>
    
    <p-table #dt [value]="gastos" [rows]="10" [paginator]="true" responsiveLayout="scroll"
            [(selection)]="selectedGasto" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros." [showCurrentPageReport]="true" >
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Solicitante</th>
                    <th>Descripcion</th>
                    <th>Documento</th>
                    <th>Monto</th>
                    <th>Tipo Gasto</th>
                    <th *appRole="['ADMIN']">Caja - Empleado</th>
                    <th>Responsable</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gasto>
                <tr [ngClass]="{'gastoDeleted': gasto.deletedAt != null}">
                    <td><p-button *ngIf="gasto.deletedAt != null" icon="pi pi-search" styleClass="p-button-danger" (click)="deleteResponsible(gasto);op.toggle($event)"></p-button></td>
                    <td>{{gasto.id}}</td>
                    <td>{{gasto.fecha | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
                    <td>{{gasto.solicitante}}</td>
                    <td>{{gasto.descripcion}}</td>
                    <td>{{gasto.documento}}</td>
                    <td>{{gasto.monto}}</td>
                    <td>{{gasto.tipoGasto.nombre}}</td>
                    <td *appRole="['ADMIN']">{{gasto.caja.nombre + ' - '+ gasto.caja.empleado.nombre + ' ' + gasto.caja.empleado.apellido}}</td>
                    <td>{{gasto.empleado.nombre + ' ' + gasto.empleado.apellido }}</td> 
                    <!-- <td><p-avatar [image]="gasto.foto | nophoto" pBadge value="4" severity="danger" styleClass="mr-2" size="xlarge"></p-avatar></td> -->
                    <td>
                        <p-image *ngIf="gasto.foto != null" [src]="gasto.foto | nophoto" alt="Image" width="64" height="64" [preview]="true"></p-image>
                    </td>
                    <!-- <td><button pButton pRipple icon="pi pi-camera" class="p-button-rounded p-button-success" (click)="foto(gasto.foto)"></button></td> -->               
                    <td><button *appRole="['CAJERO']" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteGasto(gasto)"></button></td>               
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="10">Seleccione una fecha.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td></td>
                    <td colspan="4" class="text-right">Total</td>
                    <td></td>
                    <td>{{total}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
    </p-table>

</div>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
    <ng-template pTemplate>
        <p-table [value]="deleteRespon">
            <ng-template pTemplate="header">
                <tr>
                    <th>Resposable</th>
                    <th>Fecha eliminacion</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-respo>
                <tr>
                    <td>{{respo.nombre + ' ' + respo.apellido}}</td>
                    <td>{{respo.fecha | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>