
<p-toast position="bottom-center"></p-toast>    
        <div [formGroup]="form">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="usuario">
              </mat-form-field>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
              </mat-form-field>
              <br>        
            </div>
        <button pButton pRipple (click)="close()" label="Cancelar" icon="pi pi-times" class="p-button-text"></button>
        <button pButton pRipple (click)="authorization()" label="Aceptar" icon="pi pi-check" class="p-button-text"></button>

