<p-table [value]="ventas" responsiveLayout="scroll" [paginator]="true" [rows]="5" [responsive]="true"
    selectionMode="single" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente"></p-sortIcon>
            </th>
            <th pSortableColumn="fecha">Fecha Venta <p-sortIcon field="fecha"></p-sortIcon>
            </th>
            <th pSortableColumn="total">Total venta <p-sortIcon field="total"></p-sortIcon>
            </th>
            <th>Tipos de pagos</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-venta>
        <tr>
            <td>{{venta.id}}</td>
            <td>{{venta.cliente}}</td>
            <td>{{venta.fecha | date: 'short'}}</td>
            <td>{{venta.total}}</td>
            <td>
                <button pButton pRipple icon="pi pi-search"class="p-button-rounded p-button-success mr-2"(click)="getDetalleCobro(venta.idcobro); op.toggle($event)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteCobro(venta)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">Sin cobros realizados.</td>
        </tr>
    </ng-template>
</p-table>



<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
    <ng-template pTemplate>
        <p-table *ngIf="loadDetalleCobro" [value]="cobro.detalleCobro" selectionMode="single" [paginator]="true" [rows]="5"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Tipo de Cobro</th>
                    <th>Cantidad</th>
                    <th>Descripcion</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle>
                <tr>
                    <td>{{detalle.tipoCobro.nombre}}</td>
                    <td>{{detalle.cantidad}}</td>
                    <td>{{detalle.descripcion}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>