 <p-toast position="bottom-center"></p-toast>
<div [formGroup]="cajaCobroService.form" *ngIf="load">
    <p-toolbar>
        <div class="grid p-fluid">    
            <div class="col-12 md:col-4">
                <h4>Cliente<input type="text" pInputText [readonly]="true"  [value]="venta.cliente"/></h4 >                                            
            </div>   
            <div class="col-12 md:col-4">
                <h4>Fecha<input type="text" pInputText [readonly]="true" [value]="venta.fecha | date: 'short'"/></h4 >                    
            </div>   
            <div class="col-12 md:col-4">
                <h4>Total<input type="text" pInputText [readonly]="true" [value]="venta.total"/></h4 >                    
            </div>   
        </div>
    </p-toolbar>
    <p-panel header="PAGO" >  
        <div formArrayName="detalleCobro">
            <div class="p-fluid grid">
                <div class="field col-12 md:col-3" *ngFor="let item of cajaCobroService.getArrayDetalle.controls;index as i">
                    <div [formGroupName]="i" >
                        <label>{{item.get('tipoTransaccion.nombre')?.value}}</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
                            <p-inputNumber inputId="locale-us-{{i}}" mode="decimal" locale="en-US" [minFractionDigits]="2"
                             formControlName="monto" (onFocus)="selector(i)" (onInput)="validatorsFormsCustom.patchPrimeNgInputValue($event, 'monto', item)"></p-inputNumber>
                        </div>
                    </div> 
                </div> 
            </div>
            <div class="example-container"  *ngFor="let item of cajaCobroService.getArrayDetalle.controls;index as i">
                <ng-container [formGroupName]="i">
                    <div class="p-fluid grid" *ngIf="select==i && select!=0">
                        <div  class="field col-12 md:col-6">
                            <label>Documento {{item.get('tipoTransaccion.nombre')?.value}}</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
                                <input id="documento-{{i}}" type="text" formControlName="documento" pInputText/>                    
                            </div>
                            <small *ngIf="validatorsFormsCustom.isValidFieldInArray(cajaCobroService.getArrayDetalle, i, 'documento')" class="p-error block">El documento es necesario</small>
                        </div>
                        <div class="field col-12 md:col-6" *ngIf="bancoView">
                                <label>Banco</label>
                                <p-dropdown  [options]="cuenta" formControlName="cuentaBancaria" placeholder="Seleccione un banco" optionLabel="nombre" [showClear]="true">
                                    <ng-template let-item pTemplate="item">
                                        <span>{{item.nombre}} {{item.numero}}</span>
                                    </ng-template>
                                    <ng-template let-item pTemplate="selectedItem">
                                        <span>{{item.nombre}} {{item.numero}}</span>
                                    </ng-template>
                                </p-dropdown>
                                <small *ngIf="validatorsFormsCustom.isValidFieldInArray(cajaCobroService.getArrayDetalle, i, 'cuentaBancaria')" class="p-error block">Debe seleccionar una cuenta</small>
                        </div>                      
                    </div>
                </ng-container>
                    
                
            </div>
        </div>
            <div class="p-fluid grid">
                <div  class="field col-12 md:col-8">
                    <label>Comentario</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
                        <input id="comentario" type="text" formControlName="comentario" pInputText/>                    
                    </div>
                    <br>
                </div>
            </div>
        
    </p-panel>
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="close(false)"></button>
    <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-text" [disabled]="cajaCobroService.form.invalid || cajaCobroService.getArrayDetalle.errors" (click)="save()"></button>
    <small *ngIf="cajaCobroService.getArrayDetalle.errors" class="p-error block">El monto deber ser igual al Saldo</small>

</div>

            
<!--             <p-panel header="COBRO">
            <div class="p-fluid grid">            
                <div class="field col-12 md:col-3" *ngFor="let item of detalleCobro" (click)="setDescripcion(item.tipoCobro.id)">
                    <label>{{item.tipoCobro.nombre}}</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi {{item.icon}}"></i></span>
                        <p-inputNumber [minFractionDigits]="2" [(ngModel)]="item.cantidad" [disabled]="item.estado"></p-inputNumber>
                    </div>
                </div>                    
            </div>
            <div class="example-container" *ngFor="let detalle of detalleCobro; index as i">
                <ng-container *ngIf="objeto == i+1">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-8">
                            <label>Descripcion {{detalle.tipoCobro.nombre}}</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi {{detalle.icon}}"></i></span>
                                <input type="text" [(ngModel)]="detalle.descripcion" [disabled]="detalle.estado" pInputText/>                    
                            </div>
                        </div>
                    </div>
                    <div class="p-fluid grid" *ngIf="objeto == 2 || objeto == 3 || objeto == 4">
                        <div class="field col-12 md:col-8" *ngIf="bancoView">
                            <label>Banco</label>
                            <p-dropdown  [options]="banco" [(ngModel)]="detalle.cuentaBancaria" placeholder="Seleccione un banco" optionLabel="nombre" [showClear]="true">
                                <ng-template let-item pTemplate="item">
                                    <span>{{item.nombre}} {{item.numero}}</span>
                                </ng-template>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span>{{item.nombre}} {{item.numero}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label>Documento {{detalle.tipoCobro.nombre}}</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi {{detalle.icon}}"></i></span>
                                <input type="text" [(ngModel)]="detalle.documento" [disabled]="detalle.estado" pInputText/>                    
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            </p-panel>

                <button pButton pRipple (click)="close()" label="Cancelar" icon="pi pi-times" class="p-button-text"></button>
                <button pButton pRipple (click)="cobrar()" label="Cobrar" icon="pi pi-check" class="p-button-text"></button> -->
