<h2>Orden Compra</h2>
<p-toolbar>
    <div class="p-toolbar-group-left" [formGroup]="service.range">
        <p-button label="Buscar" icon="pi pi-plus" class="mr-2" (onClick)="getPorFechas($event)" [disabled]="service.range.invalid"></p-button>        
        <p-calendar selectionMode="range" [readonlyInput]="true" [showIcon]="true" class="mr-2" formControlName="dates"></p-calendar>   
    </div>
    <div class="p-toolbar-group-right">      
    </div>
</p-toolbar>
<p-table
        #dt1 [value]="Compras" dataKey="id" dataKey="id"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        [rowsPerPageOptions]="[10,25,50]"
        [loading]="loading" [globalFilterFields]="['documento, proveedor','created_at', 'sucursal', 'total']">
        <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" field="id">Id </th>
            <th pSortableColumn="documento">Documento <p-sortIcon field="documento"></p-sortIcon></th>
            <th pSortableColumn="proveedor">Proveedor <p-sortIcon field="proveedor"></p-sortIcon></th>
            <th pSortableColumn="created_at">Fecha <p-sortIcon field="created_at"></p-sortIcon></th>
            <th pSortableColumn="sucursal">Sucursal <p-sortIcon field="sucursal"></p-sortIcon></th>
            <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
            <th>Opciones</th>
        </tr>
        <tr>
            <th ></th>
            <th >
                <p-columnFilter type="text" field="documento"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="proveedor"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="created_at"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="sucursal"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="total"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-compra>
        <tr >
            <td>{{compra.id}}</td>
            <td>{{compra.documento}}</td>
            <td>{{compra.proveedor}}</td>
            <td>{{compra.created_at | date: 'MMM d, y, h:mm a'}}</td>
            <td>{{compra.sucursal}}</td>
            <td>{{compra.total}}</td>
            <td>
                <button (click)="verOrdenCompra(compra)" pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-info"></button>
                <button (click)="eliminarOrdenCompra(compra)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No hay datos, seleccione otro rango de fechas</td>
        </tr>
    </ng-template>
</p-table>

<pre>
    Esado del forulario: {{service.range.valid}}
    <br>
    Status {{service.range.status}}
</pre>

<pre>
    {{service.range.value.dates | json }}
</pre>  


