<h2>CONFIGURACION CAJA</h2>
<p-toast position="bottom-center"></p-toast>
    <p-toolbar>
        <ng-template pTemplate="left">
            <button pButton pRipple label="Registrar caja" icon="pi pi-plus" class="p-button-success mr-2" (click)="registrarCaja()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="cajas" [rows]="10" [paginator]="true" 
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Caja</th>
                <th>Vendedor</th>
                <th>Estado</th>
                <th>Status</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-caja>
            <tr>
                <td>{{caja.id}}</td>
                <td>{{caja.nombre}}</td>
                <td>{{caja.empleado.nombre + ' '+ caja.empleado.apellido }}</td>
                <td><span [class]="'product-badge status-' + caja.estado">{{caja.estado}}</span></td>
                <td>
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle': caja.status, 'false-icon pi-times-circle': !caja.status}"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCaja(caja)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>




<!-- DIALOGO Y MENSAJE DE CONFIRMACION -->

<p-dialog [(visible)]="cajaDialog"  header="Crear nueva caja" [modal]="true" styleClass="p-fluid" [closable]="false">

    <ng-template pTemplate="content" [formGroup]="cajaConfigService.form">
        <div class="field" formGroupName="empleado">
            <label>Empleado</label>
            <p-dropdown [options]="empleados" formControlName="id" optionValue="id" optionLabel="nombre" placeholder="Seleccione un empleado" [showClear]="true">
                <ng-template let-item pTemplate="item">{{item.nombre}} {{item.apellido}}</ng-template>
                <ng-template let-item pTemplate="selectedItem">{{item.nombre}} {{item.apellido}}</ng-template>
            </p-dropdown>
            <small *ngIf="campoValido('empleado.id')" class="p-error block">Debe seleccionar un empleado</small>
        </div>        
        <div class="field">
            <label >Nombre Caja</label>
            <input type="text" pInputText formControlName="nombre"/>
            <small *ngIf="campoValido('nombre')" class="p-error block">Debe ingresar una descripcion.</small>
        </div>  
        <div class="field">
            <label >Monto de apertura.</label>
            <p-inputNumber mode="currency" currency="GTQ" locale="es-GT" formControlName="monto"></p-inputNumber>
            <small *ngIf="campoValido('monto')" class="p-error block">Debe ingresar un monto.</small>
        </div>        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="save()" [disabled]="cajaConfigService.form.invalid"></button>
    </ng-template>

</p-dialog>


<p-confirmDialog></p-confirmDialog>
