<!-- (keyup.enter)="filterd()" Comentario si algun dia necesito usar el enter -->
<p-toast position="bottom-center"></p-toast>
<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-left">     
            <p-autoComplete  [(ngModel)]="selectProveedor" [suggestions]="proovedores" (completeMethod)="filterProovedores($event)" 
            field="nombre" [dropdown]="true" [forceSelection]="true" (onSelect)="filterd()" class="mr-2">
                <ng-template let-proveedor pTemplate="item">
                <div class="country-item">
                    <div>{{proveedor.nombre}}</div>
                </div>
                </ng-template>
            </p-autoComplete>
            <div class="mr-2" *appRole="['ADMIN']">
                <p-checkbox class="mr-2" [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary" class="mr-2">Cuentas canceladas</label>
            </div>
            <p-calendar [(ngModel)]="fechas" selectionMode="range" [readonlyInput]="true" [showIcon]="true" class="mr-2" *ngIf="checked"></p-calendar>        
        </div>
        
        <div class="p-toolbar-group-right">
            <button pButton pRipple label="Todos" class="p-button-success mr-2" (click)="getTodosCuentasPorPagar()"></button> 
            <button pButton pRipple label="Pago total" icon="pi pi-plus" class="p-button-success mr-2" (click)="pagoDialog()" 
            [disabled]="!cuentasPorPagarSeleccionados || !cuentasPorPagarSeleccionados.length"></button>  
        </div>
    </p-toolbar>
    <p-table #dt2 [value]="cuentasPorPagar" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" currentPageReportTemplate=""
        [globalFilterFields]="['name','country.name','representative.name','status']" [autoLayout]="true" styleClass="p-datatable-gridlines p-datatable-striped"
        [(selection)]="cuentasPorPagarSeleccionados" [rowHover]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Fecha Credito</th>
                <th>Proveedor</th>
                <th>Documento</th>
                <th>Monto</th>
                <th>Pagos</th>
                <th>Saldos</th>
                <th>Fecha Limite</th>
                <th>Estado</th>
                <th>Pagos Parciales</th>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox [disabled]="headerCheckbox"></p-tableHeaderCheckbox>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cuentaPorPagar>
            <tr>
                <td>{{cuentaPorPagar.id}}</td>
                <td>{{cuentaPorPagar.fechainicio | date: 'shortDate'}}</td>
                <td>{{cuentaPorPagar.proveedor}}</td>
                <td>{{cuentaPorPagar.documento}}</td>
                <td>{{'Q '+cuentaPorPagar.total}}</td>
                <td>
                    <button pButton pRipple type="button" class="p-button-secondary p-button-text" (click)="pagosDetail(cuentaPorPagar)">{{'Q '+cuentaPorPagar.pagos}}</button>
                </td>
                <td>{{'Q '+cuentaPorPagar.saldo}}</td>
                <td>{{cuentaPorPagar.fechafinal | date: 'shortDate'}}</td>
                <td>
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle': cuentaPorPagar.estado, 'false-icon pi-times-circle': !cuentaPorPagar.estado}"></i>
                </td>            
                <td><button pButton pRipple icon="pi pi-money-bill" class="p-button-rounded p-button-success mr-2" (click)="pagoDialog(cuentaPorPagar)" [disabled]="cuentaPorPagar.estado"></button></td>
                <td>
                    <p-tableCheckbox [value]="cuentaPorPagar" [disabled]="cuentaPorPagar.estado"></p-tableCheckbox>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11">Sin resultados.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="4" class="text-right">Total</td>
                <td>Q {{total}}</td>
                <td colspan="6" class="text-right"></td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="pagoDialogo"  header="Pago" [style]="{width: '650px'}" [modal]="true" styleClass="p-fluid" (onHide)="cerrar()">
    <ng-template pTemplate="content">
        
        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Documentos</label>
                <p-listbox [options]="cuentasPorPagarSeleccionados" optionLabel="documento" [style]="{'width':'15rem'}" [metaKeySelection]="false"></p-listbox>
            </div>
            <div class="field col">
                <label for="price">Saldos</label>
                <p-listbox [options]="cuentasPorPagarSeleccionados" optionLabel="saldo" [style]="{'width':'15rem'}" [metaKeySelection]="false">
                    <ng-template let-credito pTemplate="item">
                        <div class="country-item"> 
                            <div>{{'Q ' + credito.saldo}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Total Saldo</label>
                <p-inputNumber id="price"  mode="currency" currency="GTQ" locale="es-GT" [readonly]="true" [(ngModel)]="monto" ></p-inputNumber>
            </div>
            <div class="field col">
                <label for="quantity">Monto</label>
                <p-inputNumber id="quantity" mode="currency" currency="GTQ" locale="es-GT" [(ngModel)]="parcial" [readonly]="pagoType"  ></p-inputNumber>
            </div>
        </div>
        <div class="field">
            <label for="description">Comentario</label>
            <textarea id="description" pInputTextarea required rows="3" cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="cerrar()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" [disabled]="parcial<=0" (click)="realizarPagos()" class="p-button-text"></button>
    </ng-template>
</p-dialog>





<p-dialog header="Pagos" [(visible)]="pagosDetailOpen" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">

    <p-table [value]="cuentaPorPagarDetalle" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto mr-2">
                    <i class="pi pi-user"></i><input pInputText type="text" [(ngModel)]="cuentaPorPagar.proveedor" readonly/>
                </span>
                <span class="p-input-icon-left ml-auto mr-2">
                    <i class="pi pi-book"></i><input pInputText type="text" [(ngModel)]="cuentaPorPagar.documento" readonly/>
                </span>
                <span class="p-input-icon-left ml-auto mr-2">
                    <i class="pi pi-money-bill"></i><input pInputText type="text" [(ngModel)]="cuentaPorPagar.total" readonly/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Monto</th>
                <th>Saldo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pago>
            <tr>
                <td>{{pago.id}}</td>
                <td>{{pago.fecha | date: 'shortDate'}}</td>
                <td>{{pago.descripcion}}</td>
                <td>{{pago.monto}}</td>
                <td>{{pago.balance}}</td>

            </tr>
        </ng-template>
    </p-table>

        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="pagosDetailOpen=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>