<h2>Venta</h2>
<p-toolbar>
    <div class="p-toolbar-group-left" [formGroup]="service.range">
        <p-button label="Buscar" icon="pi pi-plus" class="mr-2" (onClick)="getPorFechas()" [disabled]="service.range.invalid"></p-button>        
        <p-calendar selectionMode="range" [readonlyInput]="true" [showIcon]="true" class="mr-2" formControlName="dates"></p-calendar>   
    </div>
    <div class="p-toolbar-group-right">      
    </div>
</p-toolbar>
<p-table
        #dt1 [value]="Venta" dataKey="id" dataKey="id"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        [rowsPerPageOptions]="[10,25,50]"
        [loading]="loading" [globalFilterFields]="['id, cliente','created_at', 'sucursal', 'total']">
        <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" field="id">Id <p-sortIcon field="documento"></p-sortIcon></th>
            <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente"></p-sortIcon></th>
            <th pSortableColumn="created_at">Fecha <p-sortIcon field="created_at"></p-sortIcon></th>
            <th pSortableColumn="sucursal">Sucursal <p-sortIcon field="sucursal"></p-sortIcon></th>
            <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
            <th>Opciones</th>
        </tr>
        <tr>
            <th >
                <p-columnFilter type="text" field="id"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="cliente"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="created_at"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="sucursal"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="total"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-venta>
        <tr >
            <td>{{venta.id}}</td>
            <td>{{venta.cliente}}</td>
            <td>{{venta.created_at | date: 'MMM d, y, h:mm a'}}</td>
            <td>{{venta.sucursal}}</td>
            <td>{{venta.total}}</td>
            <td>
                <button (click)="verVenta(venta)" pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-info"></button>
                <button (click)="eliminarVenta(venta)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No hay datos, seleccione otro rango de fechas</td>
        </tr>
    </ng-template>
</p-table>