<p-button *appRole="['CAJERO']" label="Regresar" (click)="regresar()"></p-button>
<h2>
    CUENTAS EN EFECTIVO
</h2>
<p-table
        #dt1 [value]="efectivo" dataKey="id" dataKey="id"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        [rowsPerPageOptions]="[10,25,50]"
        styleClass="p-datatable-striped" [rowHover]="true"
        [loading]="loading" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                EFECTIVO
                <p-button *appRole="['ADMIN']" (click)="crearCuentaEfectivo()" icon="pi pi-plus-circle"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
        <tr>
            <th field="id">Id </th>
            <th>Nombre</th>
            <th>Balance</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detalle>
        <tr >
            <td>{{detalle.id}}</td>
            <td>{{detalle.nombre}}</td>
            <td>
                <p-button label="{{detalle.detalleEfectivo[0].balance}}" styleClass="p-button-link" (click)="verDetalleCuenta(detalle.id)"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No hay cuentas en efectivo</td>
        </tr>
    </ng-template>
</p-table>
<p-toast></p-toast> 
