    <div *ngIf="load">
        <p-panel header="Datos caja">
            <div class="flex align-items-center">
                <p-chip label="{{corte.caja?.empleado?.nombre}} {{corte.caja?.empleado?.apellido}}"  icon="pi pi-user" styleClass="mr-2"></p-chip>
                <p-chip label="{{corte.caja?.nombre}}" styleClass="mr-2"><mat-icon>point_of_sale</mat-icon></p-chip>
            </div>
            <div class="grid p-fluid" >
                <div class="col-12 md:col-6">
                    <label>Id</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><mat-icon>point_of_sale</mat-icon></span>
                        <input type="text" [ngModel]="corte.id" pInputText readonly> 
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <label>Fecha</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <input type="text" [ngModel]="corte.fechas | date : 'EEEE, MMMM d, y, h:mm a'" pInputText readonly> 
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <label>Empleado</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" [ngModel]="corte.empleado.nombre + ' ' +corte.empleado.apellido" pInputText readonly> 
                    </div>
                </div>
            </div>
        </p-panel>

        <p-table [value]="mov" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                Movimiento
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Descripcion</th>
                    <th>Ingreso</th>
                    <th>Egreso</th>
                    <th>Saldo.</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle>
                <tr>
                    <td>{{detalle.concepto}}</td>
                    <td>{{detalle.ingreso}}</td>
                    <td>{{detalle.egreso}}</td>
                    <td>{{detalle.saldo}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                Observaciones
                <div class="grid">
                    <div class="col-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-tags" style="line-height: 1.25;"></i></span>   
                            <input type="text" pInputText [ngModel]="corte.observacion" readonly>   
                        </div>         
                    </div>                    
                </div>
            </ng-template>
        </p-table>
    </div>

    <br/>

    <p-panel header="Detalles del corte" *ngIf="det">
        <p-table [value]="cobros" [paginator]="true" [rows]="5" responsiveLayout="scroll" *ngIf="cobro">
            <ng-template pTemplate="caption">
                Ventas
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>No.Cobro</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>No. Factura</th>
                    <th>Cliente</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-cobro>
                <tr [pSelectableRow]="rowData" [ngClass]="{'anulado': cobro.deletedAt != null}">
                    <td>{{cobro.id}}</td>
                    <td>{{cobro.fecha | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
                    <td>{{cobro.monto}}</td>
                    <td>{{cobro.venta_id}}</td>
                    <td>{{cobro.cliente}}</td>
                    <td><p-button *ngIf="cobro.deletedAt != null" icon="pi pi-calendar" styleClass="p-button-danger" (click)="op.show($event)">
                        <p-overlayPanel #op>
                            <ng-template pTemplate>
                                {{cobro.deletedAt | date: 'EEEE, MMMM d, y, h:mm a'}}
                            </ng-template>
                        </p-overlayPanel>
                    </p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="2" class="text-right">Total</td>
                    <td>{{totalCobros}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>

        <p-table [value]="ingresos" [paginator]="true" [rows]="5" responsiveLayout="scroll" *ngIf="ingreso">
            <ng-template pTemplate="caption">
                Ingresos
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>No. </th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Monto</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-ingreso>                
                <tr [pSelectableRow]="rowData">
                    <td>{{ingreso.id}}</td>
                    <td>{{ingreso.fecha | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
                    <td>{{ingreso.descripcion}}</td>
                    <td>{{ingreso.monto}}</td>                                   
                </tr>                
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Total</td>
                    <td>{{totalIngresos}}</td>

                </tr>
            </ng-template>
        </p-table>

        <p-table [value]="egresos" [paginator]="true" [rows]="5" responsiveLayout="scroll" *ngIf="egreso">
            <ng-template pTemplate="caption">
                Egresos
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>No. </th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Monto</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-egreso>                
                <tr [pSelectableRow]="rowData">
                    <td>{{egreso.id}}</td>
                    <td>{{egreso.fecha | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
                    <td>{{egreso.descripcion}}</td>
                    <td>{{egreso.monto}}</td>                                   
                </tr>                
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Total</td>
                    <td>{{totalEgresos}}</td>

                </tr>
            </ng-template>
        </p-table>

        <!-- <p-table [value]="cuentasPorCobrar" [paginator]="true" [rows]="5" responsiveLayout="scroll" *ngIf="cuentaPorCobrar">
            <ng-template pTemplate="caption">
                Cuentas Por Cobrar
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Monto</th>
                    <th>Tipo Transaccion</th>
                    <th>No. Credito</th>                                        
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-cuentaPorCobrar>
                <tr [pSelectableRow]="rowData" [ngClass]="{'anulado': cuentaPorCobrar.deletedAt != null}">
                    <td>{{cuentaPorCobrar.id}}</td>
                    <td>{{cuentaPorCobrar.fecha | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
                    <td>{{cuentaPorCobrar.descripcion}}</td>
                    <td>{{cuentaPorCobrar.monto}}</td>
                    <td>{{cuentaPorCobrar.tipoTransaccion.nombre}}</td>
                    <td>{{cuentaPorCobrar.cuentaPorCobrar}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Total</td>
                    <td>{{totalCuentasPorCobrar}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table> -->

    </p-panel>

   