@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
/*************Disenio de las tablas***********/
/*Largura de las tablas para enlistar datos*/
.table-material {
    width: 100%;
}
/*Largura del autocomplete*/
.mat-form-field {
    font-size: 14px;
    width: 85%;
  }
/******Clases de los input en formulario*******/
/*largura total del cuadro*/
  .example-form {

    width: 100%;
  }
  /*largura total del cuadro*/
  .example-full-width {
    width: 100%;
  }

/*Clase que se usa en las listas de los CRUD, al pasar encima de los componentes*/
.pointer {
    cursor: pointer;
}

 /*Usados para poner 3 inputs en un div: precios productos y datos compras y ventas*/

.three-quarters-width {
  width: 33%;
  padding-right: 2px;
}
.ninety-width {
  width: 85%;
  padding-right: 2px;
}

