<img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

<h4 class="name">{{usuario.empleado.nombre + ' ' + usuario.empleado.apellido}}</h4>
<p class="designation">{{usuario.empleado.email}}</p>

<mat-divider></mat-divider>
<!-- INICIO -->
<button mat-button class="menu-button" routerLink="/dashboard">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>

<!-- RECURSOS HUMANOS -->
<div *appRole="['ADMIN']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/rr-hh/departamento">
        <mat-icon>person</mat-icon>
        <span>Departamento</span>
    </button>
    <button mat-button class="menu-button" routerLink="/dashboard/rr-hh/puesto">
        <mat-icon>info</mat-icon>
        <span>Puesto</span>
    </button>
    <button mat-button class="menu-button" routerLink="/dashboard/rr-hh/empleado">
        <mat-icon>person</mat-icon>
        <span>Empleado</span>
    </button>
</div>

<!-- ALMACEN -->
<div *appRole="['ADMIN']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/almacen/marca">
        <mat-icon>layers_clear</mat-icon>
        <span>Marca</span>
    </button>

    <button mat-button class="menu-button" routerLink="/dashboard/almacen/categoria">
        <mat-icon>category</mat-icon>
        <span>Categoria</span>
    </button>

    <button mat-button class="menu-button" routerLink="/dashboard/almacen/producto">
        <mat-icon>inventory_2</mat-icon>
        <span>Producto</span>
    </button>
</div>

<!-- COMPRAS -->
<div *appRole="['ADMIN']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/compras/compra">
        <mat-icon>storefront</mat-icon>
        <span>Compras</span>
    </button>

    <button mat-button class="menu-button" routerLink="/dashboard/compras/proveedor">
        <mat-icon>groups</mat-icon>
        <span>Proveedores</span>
    </button>
</div>

<!-- VENTAS -->
<div *appRole="['ADMIN','EMPLEADO']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/ventas/venta">
        <mat-icon>storefront</mat-icon>
        <span>Ventas</span>
    </button>

    <button mat-button class="menu-button" routerLink="/dashboard/ventas/cliente">
        <mat-icon>groups</mat-icon>
        <span>Clientes</span>
    </button>
</div>

<!-- CONFIGURACIONES -->
<div *appRole="['ADMIN']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/configuraciones">
        <mat-icon>settings</mat-icon>
        <span>Configuraciones globales</span>
    </button>
</div>

<!-- FINANZAS -->
<div>
    <mat-divider></mat-divider>
    
    <button *appRole="['CAJERO']" mat-button class="menu-button" routerLink="/dashboard/finanzas">
        <mat-icon>point_of_sale</mat-icon>
        <span>Caja</span>
    </button>
    <button *appRole="['ADMIN']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-config">
        <mat-icon>settings</mat-icon>
        <span>Configuracion</span>
    </button>
    <button *appRole="['ADMIN']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-corte-list">
        <mat-icon>list</mat-icon>
        <span>Cortes</span>
    </button>
    <button *appRole="['ADMIN']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-movimientos">
        <mat-icon>menu_book</mat-icon>
        <span>Movimientos</span>
    </button>
    <button *appRole="['ADMIN']" mat-button class="menu-button" routerLink="/dashboard/finanzas/cobro-list">
        <mat-icon>featured_play_list</mat-icon>
        <span>Listado de cobros</span>
    </button>
    <button *appRole="['CAJERO', 'ADMIN']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-gastos">
        <mat-icon>drive_file_move</mat-icon>
        <span>Gastos</span>
    </button>
    <button *appRole="['CAJERO', 'ADMIN']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-ingresos">
        <mat-icon>drive_file_move</mat-icon>
        <span>Ingresos</span>
    </button>
</div>