<img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

<h4 class="name">John Smith</h4>
<p class="designation">Software Engineer</p>

<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/dashboard">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>
<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/dashboard/rr-hh/departamento">
    <mat-icon>person</mat-icon>
    <span>Departamento</span>
</button>
<button mat-button class="menu-button" routerLink="/dashboard/rr-hh/puesto">
    <mat-icon>info</mat-icon>
    <span>Puesto</span>
</button>

<button mat-button class="menu-button" routerLink="/dashboard/rr-hh/empleado">
    <mat-icon>person</mat-icon>
    <span>Empleado</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/dashboard/almacen/marca">
    <mat-icon>layers_clear</mat-icon>
    <span>Marca</span>
</button>

<button mat-button class="menu-button" routerLink="/dashboard/almacen/categoria">
    <mat-icon>category</mat-icon>
    <span>Categoria</span>
</button>

<button mat-button class="menu-button" routerLink="/dashboard/almacen/producto">
    <mat-icon>inventory_2</mat-icon>
    <span>Producto</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/dashboard/compras/compra">
    <mat-icon>storefront</mat-icon>
    <span>Compras</span>
</button>

<button mat-button class="menu-button" routerLink="/dashboard/compras/proveedor">
    <mat-icon>groups</mat-icon>
    <span>Proveedores</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/dashboard/ventas/venta">
    <mat-icon>storefront</mat-icon>
    <span>Ventas</span>
</button>

<button mat-button class="menu-button" routerLink="/dashboard/ventas/cliente">
    <mat-icon>groups</mat-icon>
    <span>Clientes</span>
</button>
