<img class="avatar mat-elevation-z8" [src]="usuario.empleado.foto | nophoto" />

<h4 class="name">{{usuario.empleado.nombre + ' ' + usuario.empleado.apellido}}</h4>
<p class="designation">{{usuario.empleado.email}}</p>

<mat-divider></mat-divider>
<!-- INICIO -->
<button mat-button class="menu-button" routerLink="/dashboard">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>

<mat-divider></mat-divider>

<!-- RECURSOS HUMANOS -->
<div *appRole="['ADMIN']">

    <button mat-button class="menu-button" routerLink="/dashboard/rr-hh">
        <mat-icon>person</mat-icon>
        <span>Empleados</span>
    </button>
</div>

<!-- ALMACEN -->
<div *appRole="['ADMIN']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/almacen">
        <mat-icon>inventory_2</mat-icon>
        <span>Almacen</span>
    </button>
</div>

<!-- COMPRAS -->
<div *appRole="['ADMIN']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/compras">
        <mat-icon>storefront</mat-icon>
        <span>Compras</span>
    </button>
</div>

<!-- VENTAS -->
<div *appRole="['ADMIN','EMPLEADO']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/ventas">
        <mat-icon>storefront</mat-icon>
        <span>Ventas</span>
    </button>
</div>

<!-- CONFIGURACIONES -->
<div *appRole="['ADMIN']">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/dashboard/configuraciones/config">
        <mat-icon>settings</mat-icon>
        <span>Config</span>
    </button>
</div>

<!-- FINANZAS -->
<div>
    <mat-divider></mat-divider>
    <button *appRole="['ADMIN']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-config">
        <mat-icon>settings_applications</mat-icon>
        <span>Finanzas</span>
    </button>
    <button *appRole="['CAJERO']" mat-button class="menu-button" routerLink="/dashboard/finanzas">
        <mat-icon>point_of_sale</mat-icon>
        <span>Caja</span>
    </button>    
    <button *appRole="['CAJERO']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-ingresos">
        <mat-icon>chevron_left</mat-icon>
        <span>Ingresos</span>
    </button>
    <button *appRole="['CAJERO']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-gastos">
        <mat-icon>chevron_right</mat-icon>
        <span>Gastos</span>
    </button>    
    <button *appRole="['CAJERO']" mat-button class="menu-button" routerLink="/dashboard/finanzas/caja-egresos">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
        <span>Egresos</span>
    </button>
    <button *appRole="['CAJERO']" mat-button class="menu-button" routerLink="/dashboard/ventas/cuentas-por-cobrar">
        <mat-icon>credit_card</mat-icon>
        <span>Creditos</span>
    </button>
</div>

<!-- REPORTES -->
<div>
    <mat-divider></mat-divider>
    <button *appRole="['ADMIN']" mat-button class="menu-button" routerLink="/dashboard/reportes">
        <mat-icon>assignment</mat-icon>
        <span>Reportes</span>
    </button>   
</div>

<div *appRole="['SUPERADMIN']">
    <button mat-button class="menu-button" routerLink="/dashboard/configuracion-system/sucursales">
        <mat-icon>settings</mat-icon>
        <span>Config</span>
    </button>
</div>
