<div class="container pt-4">
    <div class="row ">
        <div class="card text-center ">
            <div class="card-body">
                <h3> {{service.titulo}} Empleado
                    <div *ngIf="loading" class="spinner-border" role="status">
                        <span class="visually-hidden float-right">Loading...</span>
                    </div>
                </h3>
                  <form class="example-form" [formGroup]="service.form" (submit)="service.edit ? actualizar() : agregar()" autocomplete="off">
                    <div class="row">

                        <div class="form-group col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Nombre</mat-label>
                              <input required type="text" matInput formControlName="nombre" [errorStateMatcher]="matcher"
                                     placeholder="Nombre">
                                     <mat-error *ngIf="NombreForm?.hasError('required')">
                                         Campo es Requerido
                                        </mat-error>
                                        <mat-error *ngIf="NombreForm?.hasError('minlength')">
                                            Minimo 5 letras
                                        </mat-error>
                                        <mat-error *ngIf="NombreForm?.hasError('maxlength')">
                                            Maximo 50 letras
                                        </mat-error>
                                    </mat-form-field>
                        </div>

                        <div class="form-group col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Apellido</mat-label>
                              <input required type="text" matInput formControlName="apellido" [errorStateMatcher]="matcher"
                                     placeholder="Apellido">
                                     <mat-error *ngIf="ApellidoForm?.hasError('required')">
                                         Campo es Requerido
                                        </mat-error>
                                        <mat-error *ngIf="ApellidoForm?.hasError('minlength')">
                                            Minimo 5 letras
                                        </mat-error>
                                        <mat-error *ngIf="ApellidoForm?.hasError('maxlength')">
                                            Maximo 50 letras
                                        </mat-error>
                                    </mat-form-field>
                        </div>

                        <div class="form-group col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Telefono</mat-label>
                              <input required type="text" matInput formControlName="telefono" [errorStateMatcher]="matcher"
                                     placeholder="Telefono">
                                     <mat-error *ngIf="TelefonoForm?.hasError('required')">
                                         Ingrese un numero valido
                                        </mat-error>
                                        <mat-error *ngIf="TelefonoForm?.hasError('minlength')">
                                            Minimo 8 digitos
                                        </mat-error>
                                        <mat-error *ngIf="TelefonoForm?.hasError('maxlength')">
                                            Maximo 15 digitos
                                        </mat-error>
                                    </mat-form-field>
                        </div>

                        <div class="form-group col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Direccion</mat-label>
                              <input required type="text" matInput formControlName="direccion" [errorStateMatcher]="matcher"
                                     placeholder="Direccion">
                                     <mat-error *ngIf="DireccionForm?.hasError('required')">
                                         Campo es Requerido
                                        </mat-error>
                                        <mat-error *ngIf="DireccionForm?.hasError('minlength')">
                                            Minimo 5 letras
                                        </mat-error>
                                        <mat-error *ngIf="DireccionForm?.hasError('maxlength')">
                                            Maximo 125 letras
                                        </mat-error>
                                    </mat-form-field>
                        </div>
                        

                        <div class="form-group col-md-6 " formGroupName="puesto">
                            <mat-form-field appearance="fill">
                                <mat-label>Selecciona un puesto</mat-label>
                                <mat-select formControlName="id" name="id">
                                  <mat-option *ngFor="let puesto of Puesto" [value]="puesto.id">
                                    {{puesto.nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>

                        <div class="form-group col-md-6 " formGroupName="sucursal">
                            <mat-form-field appearance="fill">
                                <mat-label>Selecciona Sucursal</mat-label>
                                <mat-select formControlName="id" name="id">
                                  <mat-option *ngFor="let suc of Sucursal" [value]="suc.id">
                                    {{suc.nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-info mx-3" [disabled]="service.form.invalid">{{service.titulo}}</button>
                    </div>
                  </form>         
            </div>
        </div>
    </div>
</div>